<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card bg-dark my-5">
        <div class="card-body">
          <h2 style="text-align: center; color: gray">{{title}}</h2>
          <h3 style="text-align: center; color: gray">{{title1}}</h3>

          <table class="table table-bordered table-striped">

            <tr>
              <th scope="col" style="color: gray;">Title</th>
              <th scope="col" style="color: gray;">Description</th>
              <th scope="col" style="color: gray;">Topics</th>

            </tr>

            <tbody>
            <tr *ngFor="let paper of papers" (click)="RowSelected(paper)">
              <td >{{ paper.title }}</td>
              <td>{{paper.description}}</td>
              <td>{{paper.topics}}</td>


            </tr>
            </tbody>
          </table>
          <hr>
          <h3 style="text-align: center; color: gray">{{title2}}</h3>

          <table class="table table-bordered table-striped">

            <tr>
              <th scope="col" style="color: gray;">Name</th>
            </tr>

            <tbody>
            <tr *ngFor="let section of sections"(click)="RowSelectedSection(section)">
              <td>{{section.name}}</td>

            </tr>
            </tbody>
          </table>
          

          <button (click)="assign()">Assign </button>
        </div>
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
