
  <!doctype html>
  <html lang="en">
  <head>
    <meta charset="utf-8">
    <title>FrontISS</title>
    <base href="/">
  
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
  
  </head>
  <body class="yes">
    <div class="hero">
      <div class="container">
        <div class="hero__wrap">
          <div class="row">
            <div class="col-sm-6">
              <h1 class="hero__title">
                This is a SoupTime website
              </h1>
              <p class="hero__text">
                  Conference management studio provides the best organization for your papers and talk submissions. It's everyones favourite. Click the button below to begin your journey.
              </p>
              <div class="hero__buttons">
                <a href="/events/new" class="btn btn--alt btn--round btn--lg full-xs"><strong>Start now</strong> <i class="fa fa-chevron-right"></i></a>
                <!-- <span>or</span> -->
                <!-- <a href="#!">Learn more <i class="fa fa&#45;chevron&#45;down"></i></a> -->
              </div>
            </div>
          </div>
        </div>
      </div>
      </div> 
  </body>
  </html>
  