<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card bg-dark my-5">
        <div class="card-body">
          <h3 style="text-align: center; color: gray">{{title}}</h3>



          <table  class="table table-bordered table-striped" >

            <tr>
              <th scope="col" style="color: gray;">Email</th>
              <th scope="col" style="color: gray;">Bid</th>

            </tr>

            <tbody>

            <tr *ngFor="let pcMember of pcMembers" (click)="RowSelectedPcMembers(pcMember)">

              <td>{{ pcMember.email }}</td>
              <td>{{ pcMember.status }}</td>



            </tr>



            </tbody>
          </table>
          <hr>
          <h3 style="text-align: center; color: gray">{{title2}}</h3>

          <table class="table table-bordered table-striped">

            <tr>


              <th scope="col" style="color: gray;">Title</th>
              <th scope="col" style="color: gray;">Description</th>
              <th scope="col" style="color: gray;">Topics</th>

            </tr>

            <tbody>
            <tr *ngFor="let paper of papers" (click)="RowSelected(paper)">

              <td>{{ paper.title }}</td>
              <td>{{paper.description}}</td>
              <td>{{paper.topics}}</td>



            </tr>
            </tbody>
          </table>

          <button (click)="assign()" >Assign </button>
        </div>
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
