<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card bg-dark my-5">
        <div class="card-body">
          <h3 style="text-align: center; color: gray">{{title2}}</h3>
          <table class="table table-bordered table-striped">

            <tr>
              <th scope="col" style="color: gray;">Id</th>
              <th scope="col" style="color: gray;">Name</th>
              <th scope="col" style="color: gray;">Email</th>

            </tr>

            <tbody>
            <tr *ngFor="let pcMember of pcMembers">
              <td>{{ pcMember.id }}</td>
              <td>{{ pcMember.name }}</td>
              <td>{{pcMember.email}}</td>


            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
