<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card bg-dark my-5">
        <div class="card-body">
          <h3 style="text-align: center; color: gray">{{title}}</h3>



          <table  class="table table-bordered table-striped" >

            <tr>
              <th scope="col" style="color: gray;">Name</th>
              <th scope="col" style="color: gray;">Email</th>

            </tr>

            <tbody>

            <tr *ngFor="let pcMember of pcMembers">

              <td>{{ pcMember.name }}</td>
              <td>{{pcMember.email}}</td>

            </tr>



            </tbody>
          </table>
          <hr>
          <h3 style="text-align: center; color: gray">{{title2}}</h3>

          <table class="table table-bordered table-striped">

            <tr>


              <th scope="col" style="color: gray;">Title</th>
              <th scope="col" style="color: gray;">Description</th>
              <th scope="col" style="color: gray;">Topics</th>

            </tr>

            <tbody>
            <tr *ngFor="let paper of papers">

              <td>{{ paper.title }}</td>
              <td>{{paper.description}}</td>
              <td>{{paper.topics}}</td>
              <td>
                <button style="background-color: gray">Edit</button>
              </td>



            </tr>
            </tbody>
          </table>
          <label style="color: aliceblue">
          <input type="text" #a />
            Take from first table a name
          </label>
          <br>
          <label style="color: aliceblue">
            <input type="text" #b />
            Take from second table a title
          </label>

          <button (click)="assign(a.value,b.value)" [disabled]="!isInFirstTable(a.value)  || !isInSecondTable(b.value)">Assign </button>
        </div>
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
