<div class="container">
  <div class="col-md-12">
    <div class="card shadow-lg p-3 mb-5 bg-white rounded">
      <div class="card-body">
        <br>
        <h3 style="text-align: center; color: gray">{{title2}}</h3>
        <br>
        <br>
          <table class="table table-hover">

            <tr>
              <th scope="col" style="color: gray;">Id</th>
              <th scope="col" style="color: gray;">Title</th>
              <th scope="col" style="color: gray;">Content</th>
              <th scope="col" style="color: gray;"></th>
            </tr>

            <tbody>
            <tr *ngFor="let paper of papers">
              <td>{{ paper.id }}</td>
              <td>{{ paper.title }}</td>
              <td>{{ paper.description }}</td>

              <td style="text-align: center;">


                  <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Choose qualifier
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <option style="cursor:pointer"class="dropdown-item" value="Strong Accept"> Strong Accept</option>
                      <option style="cursor:pointer"class="dropdown-item" value="Accept">Accept</option>
                      <option style="cursor:pointer"class="dropdown-item"value="Weak Accept">Weak Accept</option>
                      <option style="cursor:pointer"class="dropdown-item"value="Borderline Paper">Borderline Paper</option>
                      <option style="cursor:pointer"class="dropdown-item"value="Weak Reject">Weak Reject</option>
                      <option style="cursor:pointer"class="dropdown-item"value="Reject">Reject</option>
                      <option style="cursor:pointer"class="dropdown-item"value="Strong Reject">Strong Reject</option>
                    </div>
                  </div>


              </td>


            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <router-outlet></router-outlet>
    </div>
</div>
