
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card bg-dark my-5">
        <div class="card-body">
          <h2 class="card-title text-center text-white py-3">{{ title }}</h2>

          <table class="table table-bordered table-striped">

            <tr>
              <th scope="col" style="color: gray;">Name</th>
              <th scope="col" style="color: gray;">Date</th>
              <th scope="col" style="color: gray;">Interval</th>
              <th scope="col" style="color: gray;">Abstract Deadline</th>
              <th scope="col" style="color: gray;">Proposal Deadline</th>
              <th scope="col" style="color: gray;">Biddinng Deadline</th>
              <th scope="col" style="color: gray;">Country</th>
              <th scope="col" style="color: gray;">City</th>


            </tr>

            <tbody>
            <tr *ngFor="let conference of conferences">
              <td>{{conference.name}}</td>
              <td>{{ conference.date }}</td>
              <td>{{conference.interval}}</td>
              <td>{{ conference.abstractDeadline }}</td>
              <td>{{ conference.proposalDeadline }}</td>
              <td>{{conference.biddingDeadline}}</td>
              <td>{{conference.country}}</td>
              <td>{{conference.city}}</td>




            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
